language: rust
rust:
  - stable

jobs:
  include:
    - os: linux
      dist: bionic

addons:
  apt:
    update: true
    packages:
      - autoconf
      - automake
      - build-essential
      - cmake
      - clang
      - libc6-dev-i386
      - libclang-dev
      - llvm-dev
      - zlib1g-dev

script:
    # Try bundled build first
  - cargo build --features "bundled,openssl_bundled"
  - cargo run --manifest-path examples/hello/Cargo.toml --features "bundled,openssl_bundled" -- 5
    # Now pkg-config build
  - sudo apt-get install -y libssl-dev libevent-dev
  - cargo clean
  - cargo build --no-default-features --features "openssl,pkgconfig,buildtime_bindgen" # pkgconfig, openssl, threading
  - cargo run --manifest-path examples/hello/Cargo.toml --no-default-features --features "openssl,pkgconfig,buildtime_bindgen" -- 5
  - cargo clean
    # With pre-generated bindings
  - >
    LIBEVENT_SYS_BINDINGS_FILE=examples/hello/bindings/bindings.rs
    cargo build --no-default-features --features "openssl,pkgconfig"
  - >
    LIBEVENT_SYS_BINDINGS_FILE=examples/hello/bindings/bindings.rs
    cargo run --manifest-path examples/hello/Cargo.toml
    --no-default-features --features "openssl,pkgconfig"

